@charset "UTF-8";

body {
    background-color: rgb(77, 207, 168);
    margin: 0px auto;
    padding: 50px;
    height: 50px;
    width: auto;
}

#conteudo-principal {
    background-color: white;
    width: 90%;
    margin: 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px;
    padding: 50px;

}

header {
    background-color: rgb(7, 145, 7);
    width: 90%;
    margin: 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    padding: 50px;
    height: 120px;
    
}
#principal {
    text-align: center;
    color: white;
    margin-top: -10px;
}

.paragrafo01 {
    text-align: center;
    color: white;
}

nav {
    text-align: center;
    margin-top: 60px;
}

a {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    margin: 30px;
    font-size: 30px;
    
    
}

h2 {
    color: blue;
    margin-left: 30px;
    font-size: 30px;
}

p {
    text-indent: 30px;
    text-align: justify;

}

img {
    display: block;
    margin: auto;
}

h3 {
    text-align: center;
    background-color: rgb(5, 51, 5);
    border-radius: 5px 5px 0px 0px;
}

.extra {
    background-color: rgb(33, 177, 33);
    display: block;
    margin: auto;
    width: 600px;
    border-radius: 5px 5px 5px 5px ;
    
}

.contrair-listas {
    display: flex;
    text-align: justify;
    margin: auto;
}



